@import "../../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Stalemate&display=swap');

$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4136
);

$font-family-base: 'Robot', sans-serif;

* {
  // font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.title {
  font-family: 'Stalemate', sans-serif;
}