@import "../../node_modules/bootstrap/scss/bootstrap";

// @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Stalemate&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,700,700i|Playfair+Display:400,400i,700,700i&display=swap');


$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4136
);

// $font-family-base: 'Robot', sans-serif;
$font-family-base: 'Montserrat', sans-serif;


* {
  font-weight: 100;
}

html, body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.form-control, .btn {
  font-weight: 100;
}

.title {
  // font-family: 'Stalemate', sans-serif;
  font-family: 'Playfair Display', serif;

}

.list-group-item {
  cursor: pointer;
  
}

footer {
  margin: 5rem 0 1rem;

  img {
    margin-left: 5px;
  }
}

#definitions:last-child {
  margin-bottom: 80vh;
}

.text-js{
  opacity: 0;
  position: relative;
  display: inline-block;
}
.cursor{
  display: inline-block;
  // position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}
@keyframes flash{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}